/* Styles imported from BGG */
@import 'bgg.css';

/* Base styles, reset */
@import 'layout/base.css';

/* Layout sections */
@import 'layout/menu.css';
@import 'layout/footer.css';

/* Our components */
@import 'components/games.css';
