body {
  background: #ffffff;
  color: #000000;
  font-size: 18pt;
  border:0px;
  padding:0px;
  margin:0px;
  text-align:center;
}

.header {
	width: 100%;
    background-color: #88f;
    padding:3px;
}

.footer {
	width: 100%;
    background-color: #88f;
    padding:3px;
}

input {
    -moz-border-radius: 15px;
    border-radius: 15px;
}
 
input.footer {
    width: 31%;
    background-color: #ccf;
    font-size:14pt;
    padding-top:3px;
    padding-bottom:3px;
}

#content {
  min-height:81%;
}

.game_list {
  text-align:left;
}
