.games-counts {
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  .games-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}
.games-index-column {
  margin-bottom: 15px;
}
.games-index--section {
  margin-bottom: 15px;
}

.games-list {
  width: 100%;
}